.controller.ds4.white {
    background-image: url(base.png);
}

.ds4.white .trigger {
    background-image: url(triggers.png);
}

.ds4.white .bumper {
    background-image: url(bumper.png);
}


.ds4.white .stick {
    background-image: url(sticks.png);
}
